.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  .logo {
    margin-bottom: 60px;
    align-self: center;
    width: 128px;
    height: 48px;
  }
  .input-row {
    display: flex;
    align-items: center;
    margin-top: 16px;
    img {
      width: 40px;
      height: 40px;
      margin-right: 8px;
    }
    .form-control {
      width: 260px;
      height: 40px;
      background-color: #424242;
      display: block;
      color: white;
    }
  }
  .ng-invalid .invalid-feedback {
    display: block;
  }
}
