// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
  --ion-color-primary: #248df2;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  --ion-color-secondary: #656565;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #e6e6e6;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-iblue: #248df2;
  --ion-color-iblue-rgb: 36, 141, 242;
  --ion-color-iblue-contrast: #ffffff;
  --ion-color-iblue-contrast-rgb: 255, 255, 255;
  --ion-color-iblue-shade: #3171e0;
  --ion-color-iblue-tint: #4c8dff;

  --ion-color-ired: #e82e27;
  --ion-color-ired-rgb: 235, 68, 90;
  --ion-color-ired-contrast: #ffffff;
  --ion-color-ired-contrast-rgb: 255, 255, 255;
  --ion-color-ired-shade: #cf3c4f;
  --ion-color-ired-tint: #ed576b;

  --ion-overlay-background-color: rgb(51, 51, 51);
  --ion-color-step-850: #e6e6e6;
  --ion-color-step-150: #1e1e1e;
  --ion-color-step-50: rgb(51, 51, 51);
  --background: rgb(51, 51, 51);
  --ion-background-color: rgb(51, 51, 51);
  --ion-text-color:white;
}
ion-item{
  --ion-item-border-color:#aaa;
}
ion-content {
  --background: rgb(51, 51, 51);
}
ion-header ion-title {
  text-align: left;
  padding-left: 40px;
}
ion-tabs ion-header ion-title {
  text-align: left;
  padding-left: 22px;
}

.ion-color-iblue {
  --ion-color-base: var(--ion-color-iblue);
  --ion-color-base-rgb: var(--ion-color-iblue-rgb);
  --ion-color-contrast: var(--ion-color-iblue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-iblue-contrast-rgb);
  --ion-color-shade: var(--ion-color-iblue-shade);
  --ion-color-tint: var(--ion-color-iblue-tint);
}

.ion-color-ired {
  --ion-color-base: var(--ion-color-ired);
  --ion-color-base-rgb: var(--ion-color-ired-rgb);
  --ion-color-contrast: var(--ion-color-ired-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ired-contrast-rgb);
  --ion-color-shade: var(--ion-color-ired-shade);
  --ion-color-tint: var(--ion-color-ired-tint);
}

.i-button {
  width: 10.25rem;
  height: 2.5rem;
  font-size: 16px;
  --box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
  --border-radius: 24px;
}

.i-button-small {
  width: 3rem;
  height: 1.5rem;
  font-size: 0.875rem;
  //--box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
  --border-radius: 24px;
}

.color-danger {
  color: red !important;
}
